* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  background-color: rgb(116, 44, 44);
  color: aliceblue;
}
main{
  background-color: antiquewhite;
}
.box {
  width: 300px;
  height: 300px;
  opacity: 40%;
}
.box:hover {
  cursor: pointer;
}
.box:focus {
  border: 2px solid black;
}
.boxSofter {
  width: 300px;
  height: 300px;
  opacity: 100%;
}
#a {
  background-color: rgb(240, 90, 97);
}
#b {
  background-color: rgb(109, 241, 97);
}
#c {
  background-color: rgb(62, 50, 230);
}
#d {
  background-color: rgb(237, 247, 104);
}
.game div:hover {
  opacity: 100%;
}
.h1 {
  display: flex;
  justify-content: center;
}
.game {
  width: 600px;
  margin: 0 auto;
  outline: 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.loss {
  font-size: 30px;
}
.footers {
  display: flex;
  justify-content: space-around;
}

footer {
  background: linear-gradient(90deg, #42271d, #42271d);
  color: #efbebe;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: auto; /* הוספה כדי שה-footer יישב בתחתית */
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer img {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

footer ul ul {
  margin: 0 0 10px;
}


@media (max-width: 800px) {
  .game {
    width: 400px;
    margin: 0 auto;
    outline: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .box {
    width: 200px;
    height: 200px;;
    opacity: 40%;
  }
  .boxSofter {
    width: 200px;;
    height: 200px;;
    opacity: 100%;
  }
  footer div {
    flex-direction: column;
  }

  footer {
    padding: 5px 0;
  }

  header {
    padding: 5px 0;
  }

  header img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
}

