body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #72e0e0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.message{
  background-color: #999;
  color: #fff;
}
.contenter {
  width: 400px; /* רוחב 400px */
  height: 700px; /* גובה 700px */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto; /* מיקום מרכזי אופקי */
}

/* כותרת */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333; /* צבע כותרת כחול כהה */
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  color: #777;
}

/* תוכן עיקרי */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userExist,
.newUser {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.newUser {
  display: none;
}
/* טופס */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="text"],
input[type="email"] {
  text-transform: none;
}

/* תגובות */
:placeholder {
  color: #999;
}

:focus {
  border: 1px solid #007bff;
}

/* רגליים */
footer {
  text-align: center;
  margin-top: 20px;
  background-color: #503dbb;
}
img {
  width: 300px;
  height: 200px;
}

@media (max-width: 700px) {
  body {
    background-color: #f77979;
  }
  .contenter {
    width: 280px; /* רוחב 400px */
    height: 480px; /* גובה 700px */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto; /* מיקום מרכזי אופקי */
  }
}
