* {
  box-sizing: border-box;
}
.game div {
  width: 120px;
  height: 120px;
  display: inline-block;
  background: rgb(126, 96, 218);
  border: 2.5px red solid;
  margin: 10px;
}
.game div:hover {
  border: 2px black solid;
}
.game {
  width: 575px;
  margin: 0 auto;
  outline: 1px solid;
}
