* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: beige;

  min-height: 100vh;
}

header {
  background-color: rgb(116, 44, 44);
  color: aliceblue;
  text-align: center;
}

.game div {
  width: 200px;
  height: 200px;
  display: inline-block;
  background: rgb(126, 96, 218);
  border: 2.5px #efbebe solid;
  border-radius: 20px;
  margin: 10px;
}
.game div:hover {
  border: 2px black solid;
}
.game {
  background-color: #efbebe;
  border-radius: 20px;
  width: 900px;
  margin: 0 auto;
  outline: 1px solid;
}
footer {
  background: linear-gradient(90deg, #42271d, #42271d);
  color: #efbebe;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: auto;
  bottom: 0p;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer img {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

footer ul ul {
  margin: 0 0 10px;
}
div img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
@media (max-width: 950px) {
  .game div {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: rgb(126, 96, 218);
    border: 2.5px #efbebe solid;
    margin: 5px;
  }
  .linkcNav {
    flex-direction: column;
    align-items: center;
  }
  div img {
    height: 97px;
    width: 97px;
    border-radius: 20px;
  }
  main p {
    font-size: 1em;
  }
  footer {
    bottom: 0px;
  }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .game {
    width: 457px;
    margin: 0 auto;
    outline: 1px solid;
  }
}
