*{
    box-sizing: border-box;
}
.game div {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: red;
  margin: 10px;
}
.game div:hover {
  border: 2px black solid;
}
.game {
  width: 375px;
  margin: 0 auto;
  outline: 1px solid;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 100px;
}
.game .wello {
    background: rgb(203, 255, 14);
}
.game .Brown{
    background:rgb(104, 37, 37)
}